<div class="avaluos-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <header class="page-header">
      <h1>Crear Nuevo Avaluo</h1>
     <p-button
       label="Volver"
       icon="pi pi-arrow-left"
       styleClass="p-button-secondary"
       (onClick)="volver()"
     ></p-button>
    </header>

    <div class="content">
      <p-tabView [(activeIndex)]="activeTab" (onChange)="onTabChange($event.index)">
        <p-tabPanel header="Información General">
          <app-informacion-general
            [form]="avaluoForm"
            (next)="onNext()"
          ></app-informacion-general>
        </p-tabPanel>

        <p-tabPanel header="Aspectos Jurídicos">
          <app-aspectos-juridicos
            [form]="avaluoForm"
            (previous)="onPrevious()"
            (next)="onNext()"
          ></app-aspectos-juridicos>
        </p-tabPanel>

        <p-tabPanel header="Características Generales">
          <app-caracteristicas-generales
            [form]="avaluoForm"
            (previous)="onPrevious()"
            (next)="onNext()"
          ></app-caracteristicas-generales>
        </p-tabPanel>

        <p-tabPanel header="Inspección Física">
          <app-inspeccion-fisica
            [form]="avaluoForm"
            (previous)="onPrevious()"
            (submit)="onSubmit()"
          ></app-inspeccion-fisica>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>